*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    margin: auto;
    padding: 80px;
    background-color: #e6e1e1;
}
div>button{
    color: white;
    background-color: blue;
    padding: 5px;
    margin-top: 10px;
    border-radius: 3px;
}
.main{
    display: flex;
    margin-top: 15px;
    padding:25px;
    gap: 30px;
}
.main button{
    color: white;
    background-color: rgb(133, 133, 145);
    padding: 5px;
    margin-top: 10px;
    border-radius: 4px;
}
footer{
    padding: 5px;
    margin-left: 10px;
}