*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  margin:10px;
  padding:5px;
}
table,tr,td{
  margin:auto;
  padding:7px;
  width:500px;
  text-align:center;
  border:1px, solid black;
  border-collapse: collapse;
  font-weight: bold;
}
table{
  border:3px solid black;
}
th{
  padding:10px;
}